{%  extends 'accounts/main.html' %}

{% block content %}

{%  include 'accounts/status.html' %}


<br>

<div class="row">
	<div class="col-md-5">
		<h5>Check My Order:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Orders</a>

			<table class="table table-sm">
				{% for order in orders %}
					<tr>
						<td><a class="btn btn-sm btn-info" href="{% url 'order id' order.id %}">View</a></td>
						<td>{{order.id}}</td>
					</tr>
				{% endfor %}

                <form method="post" action="{% url 'generateQR' %}">{% csrf_token %}
                </br>
                <h6>Enter Order ID: </h6>
                    <input type="text" name="order_id" placeholder="Enter Order Id ">
                    <br>
                <button type="submit" value="Click" name="GenerateQR" class="btn btn-primary  btn-sm btn-block" onclick="generateQR()" href="">Generate QR</button>
                </form>
			</table>
            <div class="row">
                <div class="col-md-7">
                <h5>LAST 5 ORDERS</h5>
                <hr>
                    <div class="card card-body">

                        <table class="table table-sm">
                            <tr>
                                <th>Crates</th>
                                <th>Date Orderd</th>
                                <th>Status</th>
                                <th>Id</th>
                                <th>Update</th>
                                <th>Remove</th>
                            </tr>

                            {% for order in orders %}
                                <tr>
                                    <td>{{order.product}}</td>
                                    <td>{{order.date_created}}</td>
                                    <td>{{order.status}}</td>
                                    <td>{{order.id }}</td>
                                    <td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Update</a></td>

                                    <td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Delete</a></td>

                                </tr>
                            {% endfor %}
                        </table>
                    </div>
	            </div>
            </div>
	    </div>
    </div>
</div>
{% endblock %}

